namespace: firebase

remoteconfig:
  defines: entity
  metadata:
    name: Firebase Remote Config
    description: |
      Firebase Remote Config lets you change the behavior and appearance of your app without requiring users to download an app update.
    website: https://firebase.google.com/docs/remote-config
    icon: https://symbols.getvecta.com/stencil_261/16_google-firebase.3828a6e3a4.svg
    publisher: monk.io
    tags: remote config, entities, gcp, firebase
  schema:
    required: [ "project", "name", "vars" ]
    project:
      type: string
    name:
      type: string
    vars:
      type: object
  requires:
    - cloud/gcp
  lifecycle:
    sync: <<< remoteconfig-sync.js
    get: ""
